.top, .content, .bottom {
    border: 1px solid cadetblue;
    margin: 5px;
}
.top {
    height: 100px;
    background-color: black;
}
.logo, .top-content, .login {
    color: aqua;
    text-align: center;
    font-size: 30px;
    line-height: 100px;
    font-weight: bold;
    margin-left: 10px;
    margin-right: 10px;
    float: left;
}
.login {
    float: right;
}
.content {
    height: 600px;
    background-color: aquamarine;
}
.left, .center, .right {
    height: 570px;
    padding: 10px;
    margin: 5px;
}
.left {
    width: 10%;
    background-color: blueviolet;
    color: tomato;
    text-align: center;
    float: left;
}
.center {
    width: 70%;
    background-color: wheat;
    color: red;
    float: left;
}
.first, .second {
    background-color: brown;
    color: aqua;
    margin: 5px;
    text-align: center;
    font-size: 30px;
}
.first {
    height: 350px;
    line-height: 350px;
}
.second{
    height: 210px;
    line-height: 210px;
}
.right {
    width: 15%;
    background-color: darkred;
    float: left;
    text-align: center;
}
.box {
    height: 280px;
    margin: 5px;
    background-color: cornsilk;
    line-height: 280px;
    font-weight: bolder;
    font-size: 50px;
}
.bottom {
    height: 80px;
    background-color: gray;
    line-height: 80px;
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
    color: whitesmoke;
}
@media only screen and (max-width: 600px)  {
    .left{
        display: none;
    }
    .center{
        width: 69%;
    }
    .right{
        width: 29%;
    }
}