

header{
    padding: 5px;
    background-color: #1cd0c2;
    color: white;
    height: 40px;
    font-size: 25px;
    text-align: left;
    word-spacing: 5px;
    position: fixed;
    width: 100%;
    top: 0;
}
body{
    height: 800px;
    background-color: #63ae35;
}

header #notification{
    margin-left: 80%;
    color: white;
}

nav{
    margin-top: 40px;
    width: 15%;
    height: 500px;
    background-color: #98ae5f;
    color: white;
    float: left;
    text-align: left;
}
#content article{
    margin-top: 60px;
    width: 60%;
    height: 100%;
    background-color: darkgray;
    text-align: justify;
    color: black;
    float: left;
}
